<div class="card">
  <div class="card-header">
    <h4 class="card-title"> Lịch Học </h4>
  </div>
  <div class="card-body">

    <form *ngIf="listTerm$ && (listTerm$ | async) as listItem" [formGroup]="studentInformationForm" (ngSubmit)="ngOnSubmit()">
      <div class="row">
        <div class="col-md-5 pr-1">
          <div class="form-group">
            <label>Mã sinh viên</label>
            <input type="text" class="form-control" placeholder="Mã sinh viên" formControlName="studentCode">
          </div>
        </div>
        <div class="col-md-5 pr-1">
          <div class="form-group">
            <label> Kỳ Học </label>
            <select class="form-control custom-select" formControlName="termId">
              <option value="0" selected>
                ---
              </option>
              <option  *ngFor="let term of listItem" [ngValue]="term.termId">
                {{term.description}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <button class="btn btn-primary" (click)="ngSignInWithGoogle()"> Sign In With Google </button>

<!--    <div class="loader" *ngIf="!(schedules$ | async)"></div>-->

    <div class="table-responsive" *ngIf="(schedules$ | async) as schedules">
      <table class="table">
        <thead class=" text-primary">
        <th>
          Tên Môn Học
        </th>
        <th>
          Mã Môn Học
        </th>
        <th>
          Lịch Học
        </th>
        </thead>
        <tbody>
        <tr *ngFor="let singleSchedule of schedules">
          <td>
            {{singleSchedule.vnuClass.vnuCourse.courseName}}
          </td>
          <td>
            {{singleSchedule.vnuClass.vnuCourse.courseCode}} - {{singleSchedule.vnuClass.classCode}}
          </td>
          <td style="display: flex; flex-direction: column">
            <button class="btn btn-primary" style="width: 200px" (click)="open(content)">
              <i class="fa fa-calendar"></i>
              Xem Lịch Học
            </button>

            <ng-template #content let-modal>
              <div class="modal-header">
                <p class="modal-title" id="modal-basic-title"> Lịch học môn
                  "{{singleSchedule.vnuClass.vnuCourse.courseName}} - {{singleSchedule.vnuClass.vnuCourse.courseCode}}
                  " </p>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead class=" text-primary">
                  <th>
                    Thứ
                  </th>
                  <th>
                    Ca Học
                  </th>
                  <th>
                    Giảng Viên
                  </th>
                  <th>
                    Địa Điểm Học
                  </th>
                  <th>
                    Ghi chú
                  </th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let schedule of singleSchedule.vnuTimerScheduleList">
                    <td>
                      Thứ {{schedule.weekday}}
                    </td>
                    <td>
                      {{schedule.startShift}} - {{schedule.endShift}}
                    </td>
                    <td>
                      {{schedule.teacherName}}
                    </td>
                    <td>
                      {{schedule.place}}
                    </td>
                    <td>
                      {{schedule.note}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <!--                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
              </div>
            </ng-template>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
